#contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 5rem;
}



form label {
  display: block;
  color: var(--text-color);
}

form input[type="email"],
form input[type="password"],
textarea {
  width: 100%;
  /* font-size: 1.1rem; */
  padding: .5rem;
}

input[type="submit"] {
  padding: .5rem;
  font-size: 1.1rem;
  color: var(--text-color);
  min-width: 10rem;
  border-radius: 20px;
  border: 0;
  background: rgb(187, 102, 32);
  background: linear-gradient(to right, rgb(230, 173, 99), rrgb(151, 103, 39) rgb(199, 108, 33))
}

@media all and (max-width: 768px){
  #contact-form{
    padding-top: 0;
    height: auto;
  }
  

}
