.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
  }

  
    
  /* article {
    padding: 1em;
    width: 50vw;
  } */

    
  header {
    padding: 51px;
  }
  video{
    width: 100%;
    height: auto;
  }
  .video {
    width: 70vw;
    height: auto;
    align-items: center;
    }
  
  /* .portada {
      heigth:50vh;
      width:75vw; */
    /* margin-left: 2rem;
    background-image: url(../img/xmendf.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
  /* } */

  img{
    height:auto;
    width:20vw;
  }

  .relacion > a > img{
      height: 30vh;
      width: auto;
  }
  
  

  @media all and (max-width: 768px){
    
    /* .portada{
        height: 60vh;
    } */
    
    .texto{
      width: 90vw;
    }
    article{
        width: 100vw;
    }

    .video{
        width: 100%;
    }

    video{
        width: 100%;
        height: auto;
    }
    .grid{
        grid-template-columns: auto;
    }

    img{
        width: 70vw;
    }
}