/* HEADER */

.header {
  height: 100vh;
  background-image: url(../img/hero-homepage-2019-1800x1185.jpg);
  /* background-color: rgba(53, 48, 48, 0.116); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  display: flex;
}


@media all and (max-width: 768px) {
  .header{
    flex-direction: column-reverse;
    height: auto;
  }

  .header > .flex-lema-container, .header > .tagline{
      height: 55vh;
      }
  }